@import '~@reactor/react-components/lib/index.css';

$gap = 8px;
$fieldHeight = 38px;

body {
  padding: 12px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

code {
  padding: 3px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  color: #4b4b4b;
  font-family: monospace;
}

.coral-Datepicker {
  // Without this, they are misaligned vertically with accompanying labels.
  vertical-align: middle;
}

.u-label {
  line-height: $fieldHeight !important;
  margin-right: $gap !important;
}

.u-gapLeft {
  margin-left: $gap !important;
}

.u-gapRight {
  margin-right: $gap !important;
}

.u-gapTop {
  margin-top: $gap !important;
}

.u-gapBottom {
  margin-bottom: $gap !important;
}

.u-block {
  display: block !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-buttonReset {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  user-select: none;
  outline: none;
  text-decoration: none;
  line-height: $fieldHeight;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.u-italic {
  font-style: italic
}

.u-smallTextfield {
  width: 6rem;
}

.u-noWrap {
  white-space: nowrap;
}

.u-noPadding {
  padding: 0;
}

.u-noPaddingRight {
  padding-right: 0;
}

.u-floatLeft {
  float: left;
}
