$rem-size = 16px; // The size of one rem in pixels
$px = 0rem + (1 / $rem-size);
$fieldHeight = 32*$px;
$gap = 8*$px;

// This is padding that goes around all the content. We put the padding on the Provider container
// instead of the body because of https://jira.corp.adobe.com/browse/RSP-276
.react-spectrum-provider {
  padding: 12px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

code {
  padding: 3px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  color: #4b4b4b;
  font-family: monospace;
}

.u-gapLeft {
  margin-left: $gap !important;
}

.u-gapRight {
  margin-right: $gap !important;
}

.u-gapTop {
  margin-top: $gap !important;
}

.u-gapBottom {
  margin-bottom: $gap !important;
}

.u-block {
  display: block !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-buttonReset {
  display: inline-block !important;
  padding: 0 !important;
  font-family: inherit !important;
  font-size: inherit !important;
  cursor: pointer !important;
  background-color: transparent !important;
  border: 0 !important;
  user-select: none !important;
  outline: none !important;
  text-decoration: none !important;
  line-height: $fieldHeight !important;

  &:focus,
  &:hover {
    text-decoration: underline !important;
  }
}

.u-italic {
  font-style: italic !important;
}

.u-smallTextfield {
  width: 6rem !important;
}

.u-noWrap {
  white-space: nowrap !important;
}

.u-noPadding {
  padding: 0 !important;
}

.u-noPaddingRight {
  padding-right: 0 !important;
}

.u-floatLeft {
  float: left !important;
}

.u-verticalAlignMiddle {
  vertical-align: middle !important;
}

.u-clearfix {
  clearfix();
}

.u-fieldLong {
  width: 470*$px !important;
}

.u-fullWidth {
  width: 100% !important;
}

.u-minFieldWidth {
  min-width: 300*$px !important;
}

.FieldSubset {
  padding: 0 0 8 *$px 24 *$px;
}

.u-flex {
  display: flex !important;
}

.u-flexOne { 
  flex: 1 !important; 
} 

.u-alignItemsCenter {
  align-items: center !important;
}
