$gap = 8px;

body {
  padding: 12px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.u-label {
  line-height: 36px !important;
  margin-right: $gap !important;
}

.u-gapLeft {
  margin-left: $gap !important;
}

.u-gapRight {
  margin-right: $gap !important;
}

.u-gapTop {
  margin-top: $gap !important;
}

.u-gapBottom {
  margin-bottom: $gap !important;
}

.u-block {
  display: block !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-buttonReset {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  user-select: none;
  outline: none;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.u-italic {
  font-style: italic
}

.u-tooltipMaxWidth {
  max-width: 300px !important;
}

.u-smallTextfield,
.u-smallTextfield .coral-Textfield {
  width: 6rem;
}

.u-noWrap {
  white-space: nowrap;
}

.u-inline-tooltip {
  line-height: 36px;
  vertical-align: middle;
}
