<!DOCTYPE html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.11.0/css/coral.css">
    <script>
      window.Coral = window.Coral || {};
      Coral.options = { typeKitId: 'buj6cmr'};
    </script>
  </head>
  <body class="coral--light">
    <div id="content"></div>
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.11.0/js/libs/jquery.js"></script>
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.11.0/js/coral.js"></script>
    <script src="//assets.adobedtm.com/activation/reactor/iframe/1.0.0/js/iframe.min.js"></script>
    <script src="view.js"></script>
  </body>
</html>
