<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div id="content"></div>
    <script src="/includes/jschannel.js"></script>
    <script src="/includes/extensionBridge.contentWindow.js"></script>
    <script src="view.js"></script>
    <script>
      // Temporary while we're getting iframe communication figured out.
      var currentConfig = {
        name: 'The Serbs'
      };

      extensionBridge.validate = function() {
        return Math.random() > .5;
      };

      extensionBridge.getConfig = function() {
        return currentConfig;
      };

      extensionBridge.setConfig = function(config) {
        currentConfig = config;
        document.getElementById('content').innerHTML = JSON.stringify(config);
      };
    </script>
  </body>
</html>
