.directCall {
  .codeLine, .codeText {
    font-size: var(--spectrum-global-dimension-size-200);
    font-family: Monaco, "Lucida Console", monospace
  }

  .codeLine {
    display: block;

    &.mt10 {
      margin-top: 10px;
    }

    &.mb10 {
      margin-bottom: 10px;
    }
  }

  .directCallMultipleItemEditor-body {
    margin-left: 20px
  }

  .directCallMultipleItemEditor-footer {
    button {
      margin-left: 20px
    }
  }
}
