.CheckboxList {
  margin: 0;
  padding: 0;
  column-width: 200px;
  column-count: 4;
  list-style: none;

  svg {
    // The checkmark SVG doesn't show up in Chrome when
    // the checkboxes are within an element using column-count.
    // This is a workaround for the Chrome bug.
    -webkit-backface-visibility: hidden;
  }
}
